* {
  margin: 0;
  padding: 0; }

body {
  font-size: 62.5%; }

/* ..............................................Header Sticky para Desktop 1200px en adelante.............................................. */
.navBar {
  background-image: linear-gradient(to bottom, #02142D, #062149, #244677, #3C5C8B);
  margin: 0;
  position: relative;
  position: sticky;
  top: 0;
  z-index: 4;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr;
  grid-template-areas: "Logo Navegacion";
  padding-bottom: auto; }
  .navBar .container-fluid {
    justify-content: flex-end; }

.indexLinks {
  margin-right: 1rem;
  list-style: none; }
  .indexLinks:hover {
    transform: scale(1.2, 1.2); }

.indexLinksStyle {
  color: black !important;
  text-decoration: none;
  border-top: solid 0.1rem;
  border-right: solid 0.1rem;
  padding: 0.2rem;
  font-size: 1rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  position: relative; }
  .indexLinksStyle:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    height: 0.1rem;
    width: 100%;
    background-color: black;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform 0.2s ease-in-out; }
  .indexLinksStyle:hover:after {
    transform-origin: right;
    transform: scaleX(1); }

.indexLinksUbication1 {
  grid-area: Navegacion;
  display: flex;
  align-items: flex-end; }

.indexLinksUbication2 {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: right; }

.titleLogo {
  color: black !important;
  position: absolute;
  left: 5rem;
  top: 1rem;
  font-size: 2.5rem; }

.favicon {
  height: 5rem;
  width: auto;
  margin-top: auto;
  margin-bottom: auto; }

/* ..............................................Footer para Desktop 1200px en adelante.............................................. */
.endBar {
  background-image: linear-gradient(to top, #02142D, #062149, #244677, #3C5C8B);
  height: 20rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "Social Utiles none"; }

.redesSociales, .socialMediaSeparation, .utilesBar {
  margin: 3%;
  width: fit-content; }
  .redesSociales:hover, .socialMediaSeparation:hover, .utilesBar:hover {
    transform: scale(1.05, 1.05); }

.socialMediaSeparation {
  grid-area: Social; }

.endMediaLinks {
  color: black !important;
  text-decoration: none;
  font-size: 1.5rem;
  border-bottom: solid 0.2rem;
  border-left: solid 0.2rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; }

.utilesBar {
  grid-area: Utiles;
  height: fit-content;
  justify-self: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; }

.mediaLogo {
  height: 2rem;
  vertical-align: text-bottom; }

.whatsapp {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  border: none; }
  .whatsapp img {
    height: 4rem; }

/* ..............................................Main del Index para Desktop 1200px en adelante.............................................. */
.imagenDeFondo {
  background-image: url("../img/logo-g2.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100rem;
  width: auto;
  background-position-x: center;
  background-position-y: center;
  position: relative;
  display: grid;
  grid-template-columns: 33.3%;
  grid-template-rows: 33.3% 33.3% 33.3%;
  grid-template-areas: "Titulo" "none" "Parrafo";
  justify-content: center;
  justify-items: center; }

@keyframes aparecer {
  0%, 40% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.tituloArriba {
  grid-area: Titulo;
  align-self: end;
  font-size: 4rem;
  color: #944410;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  animation-name: aparecer;
  animation-duration: 2s;
  animation-iteration-count: 1s; }

.parrafoAbajo {
  grid-area: Parrafo;
  font-size: 2.3rem;
  color: #944410;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  animation-name: aparecer;
  animation-duration: 2s;
  animation-iteration-count: 1s; }

/* ..............................................Propiedades compartidas del sitio web para Desktop 1200px en adelante.............................................. */
.tituloPrincipal {
  color: #944410;
  font-size: 4rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: left;
  margin-left: 2rem;
  text-decoration: underline; }

.fondo {
  background-image: radial-gradient(#faead6 50%, #B5966E);
  position: relative; }

/* ..............................................About para Desktop 1200px en adelante.............................................. */
.gridAbout {
  display: grid;
  grid-template-columns: 1fr 1.8fr;
  grid-template-rows: fit-content fit-content;
  grid-template-areas: "Titulo Titulo" "Fotos Parrafo";
  align-items: center;
  justify-items: center; }

.titleGridAbout {
  grid-area: Titulo;
  justify-self: left; }

.imgAbout {
  grid-area: Fotos;
  display: flex; }
  .imgAbout img {
    height: 10rem;
    width: 15rem;
    margin: 1rem; }

.textAbout {
  grid-area: Parrafo;
  font-size: 1.4rem;
  color: #944410;
  margin: 5%; }

/* ..............................................Galeria para Desktop 1200px en adelante.............................................. */
.containerGallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2%; }
  .containerGallery img {
    height: 25rem;
    margin: 0.4%;
    transition: all 0.7s ease-in-out; }
    .containerGallery img:hover {
      transform: scale(1.2, 1.2); }

.carousel {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem; }
  .carousel img {
    height: 50vh; }

/* ..............................................Servicios para Desktop 1200px en adelante.............................................. */
.containerServices {
  text-align: center;
  width: auto;
  font-size: 1.8rem;
  padding: 2% 5%; }

.servicios {
  display: inline-block;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1.5rem;
  font-style: italic;
  text-decoration: underline;
  border: solid 0.4rem #B69870;
  border-radius: 2rem;
  width: 25rem;
  padding: 2%;
  margin: 1%;
  background-color: #D7C0A1;
  color: #944410; }

.imgServicios {
  height: 15rem;
  width: 20rem;
  border-radius: 1rem; }

/* ..............................................Contacto para Desktop 1200px en adelante.............................................. */
.containerForm {
  font-size: 1.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem; }

.formCentrarConFlex {
  display: flex;
  align-items: center; }

.form {
  padding: 1%;
  margin: 2%;
  width: 65%; }

.formDatosPersonales {
  height: 1.6rem;
  width: 20rem;
  margin-left: 0.3rem; }

.containerComentario {
  text-align: center; }

.formComentario {
  width: 75%; }

.centrado {
  margin: 0 auto; }

/* ..............................................imports para las media queries.............................................. */
/* ..............................................Header Sticky para Celular 320px a 480px.............................................. */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .titleLogo {
    display: none; }
  .navBar {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: "Logo Navegacion"; }
  .favicon {
    height: 3rem; }
  .indexLinksStyle {
    font-size: 0.6rem; }
  .indexLinksUbication2 {
    row-gap: 0.5rem;
    margin-top: 1rem; } }

/* ..............................................Footer para Celular 320px a 480px.............................................. */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .endBar {
    height: 15rem; }
  .endMediaLinks {
    font-size: 0.6rem;
    border-bottom: solid 0.14rem;
    border-left: solid 0.14rem; }
  .mediaLogo {
    display: none; }
  .socialMediaSeparation {
    margin-top: 9%;
    margin-bottom: 20%; }
  .utilesBar {
    margin-top: 9%; }
  .whatsapp {
    right: 1rem;
    bottom: 1rem; }
  .whatsapp img {
    height: 2.8rem; } }

/* ..............................................Main del Index para Celular 320px a 480px.............................................. */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .imagenDeFondo {
    height: 33rem; }
  .tituloArriba {
    font-size: 1.1rem; }
  .parrafoAbajo {
    font-size: 0.5rem; } }

/* ..............................................Propiedades compartidas del sitio web para Celular 320px a 480px.............................................. */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .tituloPrincipal {
    font-size: 1.1rem; } }

/* ..............................................About para Celulares 320px a 480px.............................................. */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .gridAbout {
    grid-template-columns: 1fr;
    grid-template-rows: fit-content fit-content;
    grid-template-areas: "Titulo" "Fotos" "Parrafo";
    justify-content: center; }
  .imgAbout img {
    height: 5rem;
    width: 7rem;
    margin: 0.5rem; }
  .textAbout {
    font-size: 0.7rem;
    text-align: center; } }

/* ..............................................Galeria para Celulares 320px a 480px.............................................. */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .containerGallery {
    flex-direction: column;
    align-items: center; }
  .containerGallery img {
    height: 11rem; }
  .carousel img {
    height: 25vh; } }

/* ..............................................Servicios para Celulares 320px a 480px.............................................. */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .servicios {
    padding: 2%;
    font-size: 0.8rem;
    width: 15rem; }
  .imgServicios {
    height: 5rem;
    width: 10rem; } }

/* ..............................................Contacto para Celulares 320px a 480px.............................................. */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .form-control {
    font-size: 0.7rem; }
  .containerForm2 {
    padding-bottom: 1rem; } }

/* ..............................................Header Sticky para Tablet 481px a 768px.............................................. */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .titleLogo {
    display: none; }
  .navBar {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-areas: "Logo Navegacion"; }
  .favicon {
    height: 4rem; }
  .indexLinksStyle {
    font-size: 0.7rem; }
  .indexLinksUbication2 {
    row-gap: 0.7rem;
    margin-top: 1.2rem; } }

/* ..............................................Footer para Tablet 481px a 768px.............................................. */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .endBar {
    height: 13rem; }
  .endMediaLinks {
    font-size: 0.9rem;
    border-bottom: solid 0.14rem;
    border-left: solid 0.14rem; }
  .mediaLogo {
    display: none; }
  .socialMediaSeparation {
    margin-top: 9%; }
  .utilesBar {
    margin-top: 9%; }
  .whatsapp {
    right: 1rem;
    bottom: 1rem; }
  .whatsapp img {
    height: 2.8rem; } }

/* ..............................................Main del Index para Tablet 481px a 768px.............................................. */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .imagenDeFondo {
    height: 50rem; }
  .tituloArriba {
    font-size: 2rem; }
  .parrafoAbajo {
    font-size: 1rem; } }

/* ..............................................Propiedades compartidas del sitio web para Tablet 481px a 768px.............................................. */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .tituloPrincipal {
    font-size: 2rem; } }

/* ..............................................About para Tablet 481px a 768px.............................................. */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .imgAbout img {
    height: 7rem;
    width: 10rem; }
  .imgAbout {
    flex-direction: column; }
  .textAbout {
    font-size: 1.1rem; } }

/* ..............................................Geleria para Tablet 481px a 768px.............................................. */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .containerGallery img {
    height: 13rem; } }

/* ..............................................Servicios para Tablet 481px a 768px.............................................. */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .servicios {
    padding: 1%;
    font-size: 1.2rem;
    width: 16rem; }
  .imgServicios {
    height: 7rem;
    width: 11rem; } }

/* ..............................................Contacto para Tablet 481px a 768px.............................................. */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .form-control {
    font-size: 1.1rem; }
  .containerForm2 {
    padding-bottom: 1rem; } }

/* ..............................................Header Sticky para Laptop 769px a 1024px.............................................. */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .titleLogo {
    left: 4rem;
    top: 0.5rem;
    font-size: 2.3rem; }
  .favicon {
    height: 3.8rem; }
  .indexLinksStyle {
    font-size: 0.8rem; }
  .indexLinksUbication2 {
    row-gap: 0.8rem; } }

/* ..............................................Footer para Laptop 769px a 1024px.............................................. */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .endMediaLinks {
    font-size: 0.8rem;
    border-bottom: solid 0.14rem;
    border-left: solid 0.14rem; }
  .mediaLogo {
    height: 1.5rem; }
  .socialMediaSeparation {
    margin-bottom: 9%;
    margin-top: 6%; }
  .utilesBar {
    margin-top: 8%; }
  .whatsapp {
    right: 1rem;
    bottom: 1rem; }
  .whatsapp img {
    height: 3rem; } }

/* ..............................................Main del Index para Laptop 769px a 1200px.............................................. */
@media only screen and (min-width: 769px) and (max-width: 1200px) {
  .imagenDeFondo {
    height: 60rem; }
  .tituloArriba {
    font-size: 2.5rem; }
  .parrafoAbajo {
    font-size: 1.3rem; } }

/* ..............................................Propiedades compartidas del sitio web para Laptop 769px a 1200px.............................................. */
@media only screen and (min-width: 769px) and (max-width: 1200px) {
  .tituloPrincipal {
    font-size: 2.8rem; } }

/* ..............................................About para Laptop 769px a 1200px.............................................. */
@media only screen and (min-width: 769px) and (max-width: 1200px) {
  .imgAbout {
    flex-direction: column; } }

/* ..............................................Galeria para Laptop 769px a 1200px.............................................. */
@media only screen and (min-width: 769px) and (max-width: 1200px) {
  .containerGallery img {
    height: 16rem; } }

/* ..............................................Servicios para Laptop 769px a 1200px.............................................. */
@media only screen and (min-width: 769px) and (max-width: 1200px) {
  .containerServices {
    padding: 0%; }
  .servicios {
    font-size: 1.4rem;
    width: 22rem; }
  .imgServicios {
    height: 12rem;
    width: 17rem; } }

/* ..............................................Contacto para Laptop 769px a 1200px.............................................. */
@media only screen and (min-width: 769px) and (max-width: 1200px) {
  .containerForm {
    font-size: 1.4rem; }
  .formDatosPersonales {
    height: 1.4rem;
    width: 17rem; } }
