$colores--header--footer: (
    primario: #02142D,
    secundario: #062149,
    terciario: #244677,
    cuaternario: #3C5C8B
);

$color--enlaces--header--footer: black!important;

$color--texto: #944410;

$colores--fondo: (
    primario: #faead6,
    secundario: #B5966E
);

$colores--card: (
    borde: #B69870,
    fondo: #D7C0A1
);

$fuente: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;